.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ECF7FE;
}

.login-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 400px;
  background-color: #F9F9F9;
  gap: 20px;
  border-radius: 1rem;
}

.greetings-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45%;
  height: 80%;
  padding-left: 12px;
}

.create-account {
  color: #7a7a7a;
  gap: 12px;
  bottom: 12px;
}

.credentials-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 45%;
  height: 80%;
  padding-right: 18px;
}

.credentials {
  margin-bottom: 38px;
  width: 90%;
  gap: 18px;
  padding: 10px 20px;
}