:root {
  --white: #F9F9F9;
  --black: #292929;
  --gray: #F0F0F0;
  --dark-gray: #7a7a7a;
  --primary: #10436A;
  --primary-hover: #308fd7;
  --secondary: #5AA9E6;
  --tertiary: #7FC8F8;
  --quaternary: #ECF7FE;
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-quaternary {
  background-color: var(--quaternary);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.gray {
  color: var(--gray);
}

.dark-gray {
  color: var(--dark-gray);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.quaternary {
  color: var(--quaternary);
}

.bordered {
  border-width: 1px;
  border-color: #10436A;
  border-style: solid;
}