@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");

* {
    font-family: "Golos Text", sans-serif;
    box-sizing: border-box;
}

.green {
    color: darkgreen;
}

.red {
    color: crimson;
}