.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-rev {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-between {
  align-items: space-between;
}

.align-around {
  align-items: space-around;
}

.justify-evenly {
  align-items: space-evenly;
}

.gap-0 {
  gap: 0;
}

.gap-3 {
  gap: 3px;
}

.gap-6 {
  gap: 6px;
}

.gap-12 {
  gap: 12px;
}

.gap-18 {
  gap: 18px;
}

.gap-24 {
  gap: 24px;
}

.gap-30 {
  gap: 30px;
}

.w-400 {
  width: 400px;
}

.w-500 {
  width: 500px;
}

.w-900 {
  width: 900px;
}

.w-third {
  width: 33.33%;
}

.w-quarter {
  width: 25%;
}

.w-half {
  width: 50%;
}

.w-three-quarters {
  width: 75%;
}

.w-full {
  width: 100%;
}

.w-vw {
  width: 100vw;
}

.w-header {
  width: calc(100% - 288px);
}

.max-w-660 {
  max-width: 660px;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-60 {
  min-height: 60px;
}

.min-h-100 {
  min-height: 100px;
}

.h-650 {
  height: 650px;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.h-three-quarters {
  height: 75%;
}

.h-vh {
  height: 100vh;
}

.h-fit-content {
  height: fit-content;
}
