<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konnect - Login</title>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="../../styles/input.css">
</head>

<body>
  <div class="container">
    <div class="login-box">
      <div class="login-message">
        <p class="logo">KONNECT</p>
        <p class="title">Bem vindo</p>

        <div class="create-account">
          <p>Não tem uma conta?</p>
          <div class="text-button">Criar conta</div>
        </div>
      </div>
  
      <div class="login-credentials">
        <div class="credentials">
          <div class="forms">
            <label for="email">Email</label>
            <input type="text" placeholder="example@gmail.com">
          </div>

          <div class="forms">
            <label for="password">Senha</label>
            <input type="password" placeholder="*******">
          </div>

          <div class="reset-password">
            <p>Esqueceu a senha?</p>
          </div>
        </div>

        <div class="primary-button">Entrar</div>
      </div>
    </div>
  </div>
</body>

</html>